<div class='row'>
    <div class='col s6'>
        <div id='notice_board'>
            <table>
                <thead id='notice_board_title'>공지사항</thead>
                {% for notice in notice_list %}
                <tr>
                    <td><a href="{% url 'board:article_detail_admin' notice.pk %}">{{ notice.title }}</a></td>
                    {% empty %}
                    <p> 등록된 공지사항이 없습니다.</p>
                </tr>
                {% endfor %}
            </table>
            {% if is_paginated %}
            <ul class="pagination">
              {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
              {% else %}
                <li class="disabled"><span>&laquo;</span></li>
              {% endif %}
              {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                  <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                  <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
              {% else %}
                <li class="disabled"><span>&raquo;</span></li>
              {% endif %}
            </ul>
            {% endif %}
            <button><a href="{% url 'club:read_non_admin_club' club %}">더보기</a></button>
        </div>
    </div>
</div>
{% if admin %}
<a href="{% url 'board:article_create_admin' club.pk %}"class="btn write">글 작성</a>
{% endif %}