{% extends 'admin_base.html' %}

{% block admin_content %}
<p class="menu-title-text">
    <img class="menu-key-icon" src="/static/img/orangered_key.png"/>출결 관리 > 출석 행사 생성</p>
<div class="divider"></div>

<form method="POST">
    {% csrf_token %}
    {{ event_form.as_p }}
    <button type="submit" class="btn">행사 생성</button>
</form>
<script>
$(document).ready(function() {
    $('select').material_select();
});
</script>
<script>
$(function() {
    $("#id_event_at").datepicker({
        changeMonth: false,
        dayNames: ['월요일', '화요일', '수요일', '목요일', '금요일', '토요일', '일요일'],
        dayNamesMin: ['월', '화', '수', '목', '금', '토', '일'],
        monthNamesShort: ['1','2','3','4','5','6','7','8','9','10','11','12'],
        monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월']
    });
});
</script>
{% endblock %}

