{% if event_list %}
<div class="event_list_area">
  <table class="striped">
      <thead>
        <tr>
          <th>행사 이름</th>
          <th>행사 일자</th>
          <th>장소</th>
        </tr>
      </thead>
      <tbody>
      {% for event in event_list %}
        <tr>
          <td><a href="{% url 'attendance:read_event' event.pk %}">{{ event.title }}</a></td>
          <td>{{ event.event_at|date:"Y.m.d" }}</td>
          <td>Nowhere</td>
        </tr>
      {% empty %}
        <tr>
            <td><a>해당 하는 이벤트가 없습니다.</a></td>
            <td></td>
            <td>Nowhere</td>
          </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
{% else %}
<p>아직 만들어진 출석 현황이 없습니다.</p>
{% endif %}
