<div style="margin-bottom:10px;">
    <form id="map_search" method="GET" style="display: inline-block;">
        <i class="small material-icons">search</i>
        <input name="place" type="text" placeholder="장소 또는 지역 입력" id="search_txt" style="width: 380px"/>
        <button id="search_btn" class="waves-effect waves-light btn">검색</button>
    </form>
</div>
<!-- 모달창에서 Enter키 눌렀을 때 검색되게 하는 스크립트 -->
<script>
  var input = document.getElementById("search_txt");
 // Execute a function when the user releases a key on the keyboard
  input.addEventListener("keyup", function(event) {
  // Cancel the default action, if needed
  event.preventDefault();
  // Number 13 is the "Enter" key on the keyboard
  if (event.keyCode === 13) {
    // Trigger the button element with a click
    document.getElementById("search_btn").click();
  }
});
</script>
<script>
    // 문자열 Formatting하는 함수 사용법: "{0}".format(변수)
    String.prototype.format = function() {
        var theString = this;

        for (var i = 0; i < arguments.length; i++) {
            var regExp = new RegExp('\\{' + i + '\\}', 'gm');
            theString = theString.replace(regExp, arguments[i]);
        }

        return theString;
    }
</script>
<!-- 검색결과에 따라 네이버 MAP 받아와서 ajax로 처리하는 스크립트-->
<script>
    $('#search_btn').click(function(e) {
        e.preventDefault();
        $('#map').empty();
        $('#map').css("height", "280px")
        var place = $('#search_txt').val();

        $.get('{% url "map:map" %}', {
            place : place
        })
            .done(function(r) {
                if(r.success) {
                    $('#result').replaceWith(r.html);
                    var tm128 = naver.maps.Point(r.First.mapx, r.First.mapy);
                    console.log(r.First.mapx, r.First.mapy);

                    var mapOptions = {
                        center: new naver.maps.TransCoord.fromTM128ToLatLng(tm128),
                        zoomControl: true,
                        zoomControlOptions: {
                        style: naver.maps.ZoomControlStyle.SMALL,
                        position: naver.maps.Position.TOP_RIGHT
                        },
                        zoom: 10,
                        mapTypeId: naver.maps.MapTypeId.NORMAL
                    };

                    var map = new naver.maps.Map('map', mapOptions);

                    var marker = new naver.maps.Marker({
                        position: new naver.maps.TransCoord.fromTM128ToLatLng(tm128),
                        map: map
                    });
                    var contentString = [
                            '<div style="padding: 5px; 5px;">',
                            '  <div style="display: inline-block;">',
                            '    <strong class="text">이 위치를 선택</strong>',
                            '    <a href="/search/{0}/{1}/" id="add_location"><i class="small material-icons">add_location</i></a>',
                            '  </div>',
                            '</div>'
                        ].join('').format(r.First.mapx, r.First.mapy);

                    var infowindow = new naver.maps.InfoWindow({
                        content: contentString,
                        backgroundColor: "#eee",
                        borderColor: "#2db400",
                        borderWidth: 2,
                        anchorColor: "#eee",
                        anchorSize: {width: 10, height: 11}
                    });

                    naver.maps.Event.addListener(marker, "click", function(e) {
                        if (infowindow.getMap()) {
                            infowindow.close();
                        } else {
                            infowindow.open(map, marker);
                        }
                    });

                    infowindow.open(map, marker);

                    naver.maps.Event.addListener(map, 'click', function(e) {
                        marker.setPosition(e.latlng);
                        var new_tm128 = naver.maps.TransCoord.fromLatLngToTM128(e.latlng);
                        console.log(new_tm128);

                        var contentString = [
                            '<div class="iw_inner" style="padding: 5px; 5px;">',
                            '   <div style="display: inline-block;">',
                            '      <span class="text">이 위치를 선택</span>',
                            '   </div>',
                            '   <a href="/search/{0}/{1}/" id="add_location"><i class="small material-icons">add_location</i></a>',
                            '</div>'
                        ].join('').format(new_tm128.x, new_tm128.y);

                        var infowindow = new naver.maps.InfoWindow({
                            content: contentString,
                            backgroundColor: "#eee",
                            borderColor: "#2db400",
                            borderWidth: 2,
                            anchorColor: "#eee",
                            anchorSize: {width: 10, height: 11}
                        });

                        naver.maps.Event.addListener(marker, "click", function(e) {
                            if (infowindow.getMap()) {
                                infowindow.close();
                            } else {
                                infowindow.open(map, marker);
                            }
                        });

                        infowindow.open(map, marker);

                    });
                }
                else {
                    alert('검색어를 입력하세요.');
                }

            })
            .fail(function() {
                alert('두 번째 오류 발생');
            });
    });
</script>
<div id="map" style="width:450px; height:545px;"></div>
<!-- 네이버 MAP API -->
<script>
    var tm128 = naver.maps.Point(306406, 551945);

    var mapOptions = {
        center: new naver.maps.TransCoord.fromTM128ToLatLng(tm128),
        zoomControl: true,
        zoomControlOptions: {
        style: naver.maps.ZoomControlStyle.SMALL,
        position: naver.maps.Position.TOP_RIGHT
        },
        zoom: 10,
        mapTypeId: naver.maps.MapTypeId.NORMAL
    };

    var map = new naver.maps.Map('map', mapOptions);

    var marker = new naver.maps.Marker({
        position: new naver.maps.TransCoord.fromTM128ToLatLng(tm128),
        map: map
    });

    naver.maps.Event.addListener(map, 'click', function(e) {
        marker.setPosition(e.latlng);
    });
</script>

<div id="result"></div>
